---
import Layout from "../layouts/Layout.astro";
import "../styles/projects.css";

const projects = [
  {
    title: "Vortex Game Store (In Progress)",
    description: "Website top-up game berbasis Django & Vue.js.",
    image: "/images/library.jpg",
    link: "https://vortexgamestore.com"
  },
  {
    title: "Sejiwa Mental Health",
    description: "Tugas Akhir Platform kesehatan mental dengan fitur konsultasi online.",
    image: "/images/cozybunker.jpg",
    link: "https://sejiwa.com"
  },
  {
    title: "Bible API",
    description: "API berbasis Vue.js untuk membaca dan mencari ayat Alkitab.",
    image: "/images/library.jpg",
    link: "https://bibleapi.com"
  }
];
---

<Layout>
  <section class="projects">
    <h1>My Projects</h1>
    <div class="project-grid">
      {projects.map((project) => (
        <a href={project.link} target="_blank" class="project-card">
          <img src={project.image} alt={project.title} />
          <div class="card-content">
            <h2>{project.title}</h2>
            <p>{project.description}</p>
          </div>
        </a>
      ))}
    </div>
  </section>
</Layout>
