---
import Layout from "../layouts/Layout.astro";
import "../styles/projects.css";

const projects = [
  {
    title: "Storage Inventory",
    description: "1st best project at Bootcamp Kilat GDoC Gunadarma, Web Application untuk pengelola gudang",
    tech : "React, Express.js, Typescript, Tailwind",
    image: "/images/project/inventory.png",
    link: ""
  },
  {
    title: "Data Visualisasi dataset smart watch",
    description: "Latihan mandiri dalam mempelajari dan menerapkan teknik visualisasi data",
    tech : "Python (Matplotlib, Seaborn, Pandas))",
    image: "/images/project/smartwatch.png",
    link: ""
  },
  {
    title: "Web Link Bio (clone linktree) Phone View",
    description: "Website yang berfungsi seperti linktree dimana biasanya berada pada bio Instagram, Threads, X, Facebook, dll untuk mengarahkan ke website atau aplikasi lain yang dianggap penting",
    tech : "HTML, CSS Javascript",
    image: "/images/project/link.png",
    link: "eclesiolink.vercel.app"
  },
  {
    title: "Sejiwa Mental Health",
    description: "Tugas Akhir Platform kesehatan mental dengan fitur konsultasi online.",
    tech : "Django, HTML, CSS, JavaScript, Bootstrap",
    image: "/images/project/sejiwa.png",
    link: ""
  },
  {
    title: "GUI Downloader Youtube",
    description: "Aplikasi pribadi untuk mempermudah mengunduh video/musik dari YouTube tanpa gangguan iklan",
    tech : "Python, PyQT6",
    image: "/images/project/ytdownloader.png",
    link: ""
  }
];
---

<Layout>
  <section class="projects">
    <h1>My Projects</h1>
    <div class="project-grid">
      {projects.map((project) => (
        <a href={project.link} target="_blank" class="project-card">
          <img src={project.image} alt={project.title} />
          <div class="card-content">
            <h2>{project.title}</h2>
            <p>{project.description}</p>
            <p>{project.tech}</p>
          </div>
        </a>
      ))}
    </div>
  </section>
</Layout>
